---
import LastestCard from './LastestCard.astro';

interface Props {
    title: string;
    items: Array<{
        location: string;
        name: string;
        style: string;
        avatar: string;
    }>;
}

const { title, items } = Astro.props;

---

<div class="p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
            { title }
        </h5>
        <a
            href="#"
            class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
            View all
        </a>
    </div>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
                { items.map((item) => (
                    <LastestCard
                        avatar={item.avatar}
                        location={item.location}
                        name={item.name}
                        style={item.style}>
                    </LastestCard>
                )) }
            </li>
        </ul>
    </div>
</div>
